<h1>Bienvenue <%= @user.name %> </h1>

<br/>
<br/>
<div class="row">
  <div class="col-sm-12">
    <h3> Résumé pour <%= session[:current_selected_date] %> </h3>
  </div>
    <div class="col-sm-3">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Nom :</th>
                    <td><%= @user.name %></td>
                </tr>
                <tr>
                    <th>Protéines max :</th>
                    <td><%= @user.protein %></td>
                </tr>
                <tr>
                    <th>Glucides max :</th>
                    <td><%= @user.carbohydrate %></td>
                </tr>
                <tr>
                    <th>Lipides max :</th>
                    <td><%= @user.lipid %></td>
                </tr>
                <tr>
                    <th>Calories max :</th>
                    <td><%= @user.calorie %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-9">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Repas</th>
                    <th>Aliment</th>
                    <th>Quantité</th>
                    <th>Protéines</th>
                    <th>Glucides</th>
                    <th>Lipides</th>
                    <th>Calories</th>
                </tr>
            </thead>

            <tbody>
                <% day_protein = day_carbohydrate = day_lipid = day_calorie = 0.to_f %>

                <% @meals.each do |meal| %>

                <% meal_quantity = meal_protein = meal_carbohydrate = meal_lipid = meal_calorie = 0.to_f %>
                <%
                    meal.food_meals.each do |food_meal|
                        meal_quantity += food_meal.quantity
                        meal_protein += ((food_meal.quantity/100)*food_meal.food.protein)
                        meal_carbohydrate += ((food_meal.quantity/100)*food_meal.food.carbohydrate)
                        meal_lipid += ((food_meal.quantity/100)*food_meal.food.lipid)
                        meal_calorie += ((food_meal.quantity/100)*food_meal.food.calorie)
                    end
                   day_protein += meal_protein
                   day_carbohydrate += meal_carbohydrate
                   day_lipid += meal_lipid
                   day_calorie += meal_calorie
                %>
                   <tr class="info">
                        <td><%= meal.meal_type.name %></td>
                        <td></td>
                        <td><%= meal_quantity.round(2) %></td>
                        <td><%= meal_protein.round(2) %></td>
                        <td><%= meal_carbohydrate.round(2) %></td>
                        <td><%= meal_lipid.round(2) %></td>
                        <td><%= meal_calorie.round(2) %></td>
                    </tr>
                    <% meal.food_meals.each do |food_meal| %>
                        <tr>
                            <td></td>
                            <td><%= food_meal.food.name %></td>
                            <td><%= food_meal.quantity %></td>
                            <td><%= ((food_meal.quantity/100)*food_meal.food.protein).round(2) %></td>
                            <td><%= ((food_meal.quantity/100)*food_meal.food.carbohydrate).round(2) %></td>
                            <td><%= ((food_meal.quantity/100)*food_meal.food.lipid).round(2) %></td>
                            <td><%= ((food_meal.quantity/100)*food_meal.food.calorie).round(2) %></td>
                        </tr>
                    <% end %>
                <% end %>
            <tr class="success">
              <td colspan="3"> Total restant aujourd'hui </td>

              <% if (@user.protein-day_protein).round(2) < 0 %>
                <td class="danger"><%= (@user.protein-day_protein).round(2) %></td>
              <% else %>
                <td><%= (@user.protein-day_protein).round(2) %></td>
              <% end %>

              <% if (@user.carbohydrate-day_carbohydrate).round(2) < 0 %>
                  <td class="danger"><%= (@user.carbohydrate-day_carbohydrate).round(2) %></td>
              <% else %>
                  <td><%= (@user.carbohydrate-day_carbohydrate).round(2) %></td>
              <% end %>

              <% if (@user.lipid-day_lipid).round(2) < 0 %>
                  <td class="danger"><%= (@user.lipid-day_lipid).round(2) %></td>
              <% else %>
                  <td><%= (@user.lipid-day_lipid).round(2) %></td>
              <% end %>

              <% if (@user.calorie-day_calorie).round(2) < 0 %>
                  <td class="danger"><%= (@user.calorie-day_calorie).round(2) %></td>
              <% else %>
                  <td><%= (@user.calorie-day_calorie).round(2) %></td>
              <% end %>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h3> Changer d'utilisateur </h3>
    <%= form_tag("/changeUser") do |f| %>
        <% users = User.all.map { |user| [user.name, user.id]} %>
        <select name="user"><%= options_for_select(users, session[:current_user_id]) %></select>
        <%= submit_tag "Confirmer" %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <h3>Changer de date</h3>
    <%= form_tag("/changeDate") do |f| %>
        <%= date_field :date, :display, value: session[:current_selected_date] %>
        <%= submit_tag "Confirmer" %>
    <% end %>
  </div>
</div>