<h1>Bienvenue <%= @user.name %> </h1>

<br/>
<br/>

<div class="row">
    <div class="col-sm-3 ">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Nom :</th>
                    <td><%= @user.name %></td>
                </tr>
                <tr>
                    <th>Protéines max :</th>
                    <td><%= @user.protein %></td>
                </tr>
                <tr>
                    <th>Glucides max :</th>
                    <td><%= @user.carbohydrate %></td>
                </tr>
                <tr>
                    <th>Lipides max :</th>
                    <td><%= @user.lipid %></td>
                </tr>
                <tr>
                    <th>Calories max :</th>
                    <td><%= @user.calorie %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-9">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Repas</th>
                    <th>Aliment</th>
                    <th>Quantité</th>
                    <th>Protéines</th>
                    <th>Glucides</th>
                    <th>Lipides</th>
                    <th>Calories</th>
                </tr>
            </thead>

            <tbody>
                <%
                   total_protein = total_carbohydrate = total_lipid = total_calorie = 0.to_d
               %>
                <% @meals.each do |meal| %>
                    <tr class="info">
                        <%
                           meal_protein = meal_carbohydrate = meal_lipid = meal_calorie = 0.to_d
                           meal.food_meals.each do |food|
                             t_protein += food.c_protein.to_d
                             t_carbohydrate += food.c_carbohydrate.to_d
                             t_lipid += food.c_lipid.to_d
                             t_calorie += food.c_calorie.to_d
                             protein += food.c_protein.to_d
                             carbohydrate += food.c_carbohydrate.to_d
                             lipid += food.c_lipid.to_d
                             calorie += food.c_calorie.to_d
                           end
                        %>
                        <td><%= meal.meal_type.name %></td>
                        <td></td><td></td>
                        <td><%= protein.to_d %></td>
                        <td><%= carbohydrate.to_d %></td>
                        <td><%= lipid.to_d %></td>
                        <td><%= calorie.to_d %></td>
                    </tr>

                    <% meal.food_meals.each do |food| %>
                        <tr>
                            <td></td>
                            <td><%= food.food.name %></td>
                            <td><%= food.quantity %></td>
                            <td><%= food.c_protein %></td>
                            <td><%= food.c_carbohydrate %></td>
                            <td><%= food.c_lipid %></td>
                            <td><%= food.c_calorie %></td>
                        </tr>
                    <% end %>

                <% end %>
            <tr class="warning">
              <td colspan="3"> Total restant aujourd'hui </td>
              <td><%=@user.protein.to_d - t_protein %></td>
              <td><%=@user.carbohydrate.to_d - t_carbohydrate %></td>
              <td><%=@user.lipid.to_d - t_lipid %></td>
              <td><%=@user.calorie.to_d - t_calorie %></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<h3> Changer d'utilisateur </h3>
<%= form_tag("/change") do |f| %>
    <% users = User.all.map { |user| [user.name, user.id]} %>
    <select name="user"><%= options_for_select(users, session[:current_user_id]) %></select>
    <%= submit_tag "Confirmer" %>
<% end %>