<div class="control-group nested-fields">
  <div class="controls">
    <%= f.hidden_field :id %>
    <%= f.label :quantity, "Amount:" %>
    <%= f.text_field :quantity %>

    <%= f.select :food_id , Food.all.map { |food| [food.name, food.id]}, {} %>

    <%= link_to_remove_association "remove", f %>
  </div>
</div>