<%= form_for(@meal) do |f| %>
  <% if @meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% @meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meal_type_id, "Type de repas" %><br>
    <%= f.select :meal_type_id, MealType.all.map { |type| [type.name, type.id]} %>
  </div>
    <%= f.select :food_ids , Food.all.map { |food| [food.name, food.id]}, {}, {class: 'multiselect', multiple: true} %>
  <div class="actions">
    <%= f.submit "Confirmer"%>
  </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.multiselect').multiselect({
                enableFiltering: true,
            });
        });
    </script>
<% end %>
