<%= form_for @meal, html: {class: "form-horizontal"} do |f| %>
    <div id="meal-meta">
        <%= f.label :meal_type_id, "Type de nourriture", class: "control-label" %>
        <%= f.select :meal_type_id , MealType.all.map { |type| [type.name, type.id]}, {} %>
    </div>
    <br/>
    <fieldset id="meal-food">
        <%= f.fields_for :food_meals do |ff| %>
            <%= render 'food_meal_fields', f: ff %>
        <% end %>
    </fieldset>
    <br/>
    <%= link_to_add_association 'add ingredient', f, :food_meals, :'data-association-insertion-method' => 'after', :'data-association-insertion-node' => '#meal-food'  %>
    <br/>
    <%= f.submit %>
<% end %>