<%= form_for @meal, html: {class: "form-horizontal"} do |f| %>
    <fieldset id="recipe-meta">
      <ol>
        <li class="control-group">
          <%= f.label :meal_type, "Recipe Name", class: "control-label" %>
          <div class="controls"><%= f.text_field :meal_type %></div>
        </li>
      </ol>
    </fieldset>

    <fieldset id="recipe-ingredients">
      <ol>
        <%= f.fields_for :food_meals do |quantity| %>
            <%= render 'food_meal_fields', f: quantity %>
        <% end %>
      </ol>
      <%= link_to_add_association 'add ingredient', f, :food_meals %>
    </fieldset>

    <%= f.submit %>
<% end %>