<p id="notice"><%= notice %></p>

<h1>Liste Repas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= meal.meal_type.name %></td>
        <td><%= meal.date.to_date %></td>
        <td><%= link_to 'Afficher', meal %></td>
        <td><%= link_to 'Editer', edit_meal_path(meal) %></td>
        <td><%= link_to 'Supprimer', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Repas', new_meal_path %>
