<p id="notice"><%= notice %></p>

<p>
  <strong>Type Repas:</strong>
  <%= @meal.meal_type.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meal.date.to_date %>
</p>

<h4>Nourriture</h4>
<table class="table">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Quantité</th>
      <th>Protéines</th>
      <th>Glucides</th>
      <th>Lipides</th>
      <th>Calories</th>
    </tr>
    </thead>
  <tbody>
    <% @meal.food_meals.each do |food_meal| %>
      <tr>
          <td><%= food_meal.food.name %></td>
          <td><%= food_meal.quantity %></td>
          <td><%= ((food_meal.quantity/100)*food_meal.food.protein).round(2) %></td>
          <td><%= ((food_meal.quantity/100)*food_meal.food.carbohydrate).round(2) %></td>
          <td><%= ((food_meal.quantity/100)*food_meal.food.lipid).round(2) %></td>
          <td><%= ((food_meal.quantity/100)*food_meal.food.calorie).round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>


<%= link_to 'Editer', edit_meal_path(@meal) %> |
<%= link_to 'Retour', meals_path %>
