<p id="notice"><%= notice %></p>

<p>
  <strong>Type Repas:</strong>
  <%=  @meal.meal_type.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meal.date.to_date %>
</p>

<h4>Nourriture</h4>
<table class="table">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Quantité</th>
      <th>Protéines</th>
      <th>Glucides</th>
      <th>Lipides</th>
      <th>Calories</th>
    </tr>
    </thead>
  <tbody>
        <% @meal.food_meals.each do |food| %>
      <tr>
          <td><%= food.food.name %></td>
          <td><%= food.quantity %></td>
          <td><%= food.c_protein %></td>
          <td><%= food.c_carbohydrate %></td>
          <td><%= food.c_lipid %></td>
          <td><%= food.c_calorie %></td>
      </tr>
        <% end %>
  </tbody>
</table>
<br/>


<%= link_to 'Editer', edit_meal_path(@meal) %> |
<%= link_to 'Retour', meals_path %>
