<p id="notice"><%= notice %></p>

<p>
  <strong>Aliment:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Protéines (g):</strong>
  <%= @food.protein %>
</p>

<p>
  <strong>Glucides (g):</strong>
  <%= @food.carbohydrate %>
</p>

<p>
  <strong>Lipides (g):</strong>
  <%= @food.lipid %>
</p>

<p>
  <strong>Calories (g):</strong>
  <%= @food.calorie %>
</p>

<%= link_to 'Editer', edit_food_path(@food) %> |
<%= link_to 'Retour', foods_path %>
